# -----------------------------

# Python

# -----------------------------

**pycache**/
*.py[cod]
*$py.class

# -----------------------------

# Virtual Environment

# -----------------------------

venv/
.env/
.venv/
env/
ENV/

# -----------------------------

# Environment Variables

# -----------------------------

.env
.env.*

# -----------------------------

# Build / Distribution

# -----------------------------

build/
dist/
*.egg-info/
.eggs/

# -----------------------------

# Logs

# -----------------------------

*.log

# -----------------------------

# IDE / Editor

# -----------------------------

.vscode/
.idea/
*.swp
*.swo

# -----------------------------

# OS Files

# -----------------------------

.DS_Store
Thumbs.db

# -----------------------------

# Cache / Temporary

# -----------------------------

.cache/
pytest_cache/
.mypy_cache/

# -----------------------------

# Database (optional)

# -----------------------------

*.db
*.sqlite3

# -----------------------------

# Coverage Reports

# -----------------------------

.coverage
htmlcov/

# -----------------------------

# FastAPI specific (optional)

# -----------------------------

app/**pycache**/
app/routers/**pycache**
readme.md